#include <winver.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    2,03,02
 PRODUCTVERSION 2,03,02
 FILEFLAGSMASK  0x17L
 FILEFLAGS      0x0L
 FILEOS         VOS_NT_WINDOWS32
 FILETYPE	VFT_APP
 FILESUBTYPE    0x0L
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "000004b0"
  BEGIN
   VALUE "CompanyName",      "PostgreSQL Global Development Group"
   VALUE "FileDescription",  "pglogical - logical replication plugin"
   VALUE "FileVersion",      "2.3.2"
   VALUE "LegalCopyright", "Portions Copyright (c) 1996-2020, PostgreSQL Global Development Group. Portions Copyright (c) 1994, Regents of the University of California."
   VALUE "ProductName",      "pglogical"
   VALUE "ProductVersion",   "2.3.2"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0, 1200
 END
END

